body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
/*   background-color: #444649; */
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}